<%= simple_form_for @invoice, :html => { :class => 'well form-horizontal' } do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <%= f.input :titolo, label: "Titolo Fattura", hint: 'inserire titolo fattura'%>
  <%= f.input :descrizione, label: "Descrizione Fattura", hint: 'inserire descrizione fattura' %>
  <%= f.input :VAT, label: "IVA", hint: 'valore attuale IVA associato alla fattura' %>
  <%= f.input :TotaleNoVat, label: "Totale Fattura", hint: 'totale da calcolare automaticamente' %>
  <%= f.input :DataEmissione,as: :string, :input_html => {:class => 'datepicker col-span-3'}, label: "Data Emissione", hint: "inserire la data della fattura" %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary', value:"Crea Fattura" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                invoices_path, :class => 'btn' %>
  </div>
<% end %>
