<%= simple_form_for @invoice, :html => { :class => 'well form-horizontal' } do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <%= f.input :titolo, label: "Titolo Fattura", hint: 'inserire titolo fattura'%>
  <%= f.input :descrizione, as: :text, :input_html => { class: 'DescrizioneInvoice', :style => 'width: 100%', :rows => 10 }, label: "Descrizione Fattura", hint: 'inserire descrizione fattura' %>
  <%= f.input :VAT, label: "IVA", hint: 'valore attuale IVA associato alla fattura',  readonly: true, disabled: true %>
  <%= f.input :TotaleNoVat, as: :currencyeuro, label: "Totale Fattura", hint: 'totale da calcolare automaticamente', readonly: true, disabled: true %>
  <%= f.input :DataEmissione,as: :string, :input_html => {:class => 'datepicker col-span-3'}, label: "Data Emissione", hint: "inserire la data della fattura", readonly: true, disabled:  true  %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary', value:"Crea Fattura" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                invoices_path, :class => 'btn' %>
  </div>
<% end %>
