<h1>Listing invoices</h1>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>


  <!-- Table -->
  <table class="table table-striped table-bordered table-hover">

  <thead>
    <tr>
      <th>Titolo</th>
      <th>Descrizione</th>
      <th>Image url</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.titolo %></td>
        <td><%= invoice.descrizione %></td>
        <td><%= invoice.image_url %></td>
        <td><%= invoice.price %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
