<%- model_class = Invoice -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="row">
  <div class="span4">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:titolo) %>:</strong></dt>
      <dd><%= @invoice.titolo %></dd>
      <dt><strong><%= model_class.human_attribute_name(:descrizione) %>:</strong></dt>
      <dd><%= @invoice.descrizione %></dd>
      <dt><strong><%= model_class.human_attribute_name(:VAT) %>:</strong></dt>
      <dd><%= @invoice.VAT %></dd>
      <dt><strong><%= model_class.human_attribute_name(:TotaleNoVat) %>:</strong></dt>
      <dd><%= @invoice.TotaleNoVat %></dd>
      <dt><strong><%= model_class.human_attribute_name(:DataEmissione) %>:</strong></dt>
      <dd><%= @invoice.DataEmissione %></dd>
    </dl>
  </div>
  <div class="span8">
    <h4>Dettaglio fattura</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= "Codice Fattura" %> </th>
          <th><%= "Descrizione voce" %></th>
          <th><%= "IVA" %> </th>
          <th><%= "Totale senza IVA" %></th>
          <th><%= "Quantità" %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
      <%= render @invoice_details, :invoice_id => @invoice.id%>
      </tbody>
    </table>

  </div>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              invoices_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_invoice_path(@invoice), :class => 'btn' %>
  <%= link_to "+Voce",
               new_invoice_invoice_detail_path(@invoice.id), :class => 'btn btn-primary'%>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              invoice_path(@invoice),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

</div>

<div id="detail-form" title="Voce fattura" style="display:none"></div>
