<%= form_for @invoice_detail, :url => {:action => "create", :invoice_id => @invoice.id} do |f| %>
  
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :descrizione %><br>
    <%= f.text_field :descrizione %>
  </div>
  <div class="field">
    <%= f.label :VAT %><br>
    <%= f.text_field :VAT %>
  </div>
  <div class="field">
    <%= f.label :ImportoNoVatSingolo %><br>
    <%= f.text_field :ImportoNoVatSingolo %>
  </div>
  <div class="field">
    <%= f.label :Qta %><br>
    <%= f.text_field :Qta %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
