
<tr>
 	<td><%= invoice_detail.id %></td>
 	<td><%= invoice_detail.descrizione %></td>
 	<td><%= invoice_detail.VAT %></td>
 	<td><%= invoice_detail.ImportoNoVatSingolo %></td>
 	<td><%= invoice_detail.Qta %></td>
 	<td><%= "az" %></td>
 </tr>
