<h1>Listing invoice_details</h1>

<table>
  <thead>
    <tr>
      <th>Descrizione</th>
      <th>Vat</th>
      <th>Importonovatsingolo</th>
      <th>Qta</th>
      <th>Invoice</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_details.each do |invoice_detail| %>
      <tr>
        <td><%= invoice_detail.descrizione %></td>
        <td><%= invoice_detail.VAT %></td>
        <td><%= invoice_detail.ImportoNoVatSingolo %></td>
        <td><%= invoice_detail.Qta %></td>
        <td><%= invoice_detail.invoice_id %></td>
        <td><%= link_to 'Show', invoice_invoice_detail(invoice,invoice_detail) %></td>
        <td><%= link_to 'Edit', edit_invoice_invoice_detail_path(invocice,invoice_detail) %></td>
        <td><%= link_to 'Destroy', invoice_invoice_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice detail', new_invoice_detail_path %>
